<div class="modal inmodal" id="editarUsuario" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Edición de Usuarios</h4>
                <small class="font-bold">Franklin Gold</small>
            </div>
            <div class="modal-body">
                <form id="editar_usuario_form">
                    <input type="hidden" name="id_user" id="id_id_user" value="" />

                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Primer nombre <span>*</span></label>
                                <input id="id_primer_nombre" name="primer_nombre" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Segundo nombre </label>
                                <input id="id_segundo_nombre" name="segundo_nombre" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Primer apellido <span>*</span></label>
                                <input id="id_primer_apellido" name="primer_apellido" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="form-group">
                                <label for="cc-payment" class="control-label mb-1">Segundo apellido <span>*</span></label>
                                <input id="id_segundo_apellido" name="segundo_apellido" type="text" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="radio" class="control-label mb-1">Sexo <span>*</span></label>
                                </br>
                                <input id="id_sexom" type="radio" checked="" value="m" name="sexo"> Masculino
                                </br>
                                <input id="id_sexof" type="radio" checked="" value="f"  name="sexo"> Femenino
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                                <div class="form-group">
                                    <label for="radio" class="control-label mb-1">Tipo usuario<span>*</span></label>
                                    </br>
                                    <input id="id_tipoa" class="tipo_editar" type="radio"  value="0" name="tipo"> Administrador
                                    </br>
                                    <input id="id_tipov" class="tipo_editar" type="radio"  value="1" name="tipo"> Vendedor
                                    </br>
                                    <input id="id_tipoc" class="tipo_editar" type="radio"  value="2" name="tipo"> Cliente
                                    </br>
                                    <input id="id_tipos" class="tipo_editar" type="radio"  value="3" name="tipo"> Supervisor                                  
                                </div>
                            </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="telefono" class="control-label mb-1">Teléfono <span>*</span></label>
                                <input id="id_telefono" name="telefono" type="tel" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                            </div>
                        </div>                
                    </div>
                    <div class="panel panel-warning selects_body" style="display: none;">
                        <div class="panel-heading">
                            <h3 class="panel-title">Seleccione una sucursal o un comercio</h3>
                        </div>
                        <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="cc-payment" class="control-label mb-1">Sucursal<span>*</span></label>
                                        <select id="id_sucursal" name="id_sucursal" class="form-control m-b" style="width: 100%">
                                            <option selected value>Seleccione una sucursal</option>
                                                {% for s in sucursales %}
                                                    <option value="{{ s.id_sucursal }}">{{s.nombre}}</option>
                                                {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="cc-payment" class="control-label mb-1">Comercio Afiliado<span>*</span></label>
                                        <select id="id_comercio" name="id_comercio" class="form-control m-b" style="width: 100%">
                                            <option selected value>Seleccione un comercio</option>
                                                {% for a in afiliados %}
                                                    <option value="{{ a.id_comercio_afiliado }}">{{a.nombre}} - {{a.sucursal}}</option>
                                                {% endfor %}
                                        </select>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="panel panel-warning selects_body2" style="display: none;">
                        <div class="panel-heading">
                            <h3 class="panel-title">Seleccione un rango para el cliente</h3>
                        </div>
                        <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="cc-payment" class="control-label mb-1">Rango<span>*</span></label>
                                        <select id="id_tipo_cliente" name="tipo_cliente" class="form-control m-b" style="width: 100%">
                                            <option selected value>Seleccione un rango para el cliente</option> 
                                            {% for r in rangos %}
                                                <option value="{{r.nombre_rango}}">{{r.nombre_rango}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="numero_cuenta" class="control-label mb-1">No. de cuenta <span>*</span></label>
                                <input name="numero_cuenta" id="id_numero_cuenta" type="number" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="pass" class="control-label mb-1">Contraseña <span>*</span></label>
                                <input name="pass" type="password" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label for="pass2" class="control-label mb-1">Repetir Contraseña <span>*</span></label>
                                <input name="pass2" type="password" class="form-control" aria-required="true" aria-invalid="false" placeholder="">
                            </div>
                        </div>
                    </div>   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" id="editar_usuario_0CR3ND" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>
