{% extends 'overall/layout' %}
{% block appBody %}
<div id="page-wrapper" class="gray-bg">
<div class="row border-bottom">
    {% include 'overall/header' %}
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-users"></i> Usuarios</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="home/">Home</a>
                        </li>
                        <li class="active">
                            <strong>Usuarios</strong>
                        </li>
                    </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
             <div class="col-lg-12">

                <a onclick="crearUsuario()" class="btn btn-warning btn-rounded" style="float:right; margin-bottom:10px;"><i class="fa fa-users"></i> Crear Usuario</a>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                            <h5>Usuarios registrados en el sistema</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                    </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover tablita" >
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Tipo</th>
                                            <th>Nombre</th>
                                            <th>Usuario</th>
                                            <th>Sexo</th>
                                            <th>Teléfono</th>
                                            <th>Correo</th>
                                            <th>Entidad Bancaria</th>
                                            <th>Número de cuenta</th>
                                            <th width="30%">Acciones</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for u in usuarios %}  
                                            <tr>
                                                <td>{{ u.id_user }}</td>
                                                <td>{{ u.es_sucursal == 1 ? 'Sucursal' : u.es_comercio_afiliado == 1 ? 'Comercio afiliado': u.tipo == 0 ? "Administrador" : u.tipo == 1 ? "Vendedor" : u.tipo == 2 ? "Cliente" : "Supervisor" }}</td>
                                                <td>{{ u.primer_nombre }} {{ u.segundo_nombre == null ? "" : u.segundo_nombre }} {{ u.primer_apellido }} {{ u.segundo_apellido == null ? "" : u.segundo_apellido }}</td>                                       
                                                <td>{{ u.usuario }}</td>
                                                <td>{{ u.sexo }}</td>
                                                <td>{{ u.telefono }}</td>
                                                <td>{{ u.email }}</td>
                                                <td>{{ u.nombre_banco == null ? 'Las sucursales y comercios afiliados no poseen entidad bancaria' : u.nombre_banco}}</td>
                                                <td>{{ u.numero_cuenta == null ? 'Las sucursales y comercios afiliados no poseen número de cuenta' : u.numero_cuenta }}</td>
                                                <td>
                                                
                                                {% if owner_user.id_user != u.id_user %} 
                                                 
                                                    {#Si el usuario es una sucursal o un comercio afiliado no se puede borrar ni editar#}
                                                    {% if u.es_sucursal != 1 and  u.es_comercio_afiliado != 1  %}  
                                                    <a onclick="editar_un_usuario({{u.id_user}},{{u.tipo}},'{{u.tipo_cliente is not null ? u.tipo_cliente :'-1' }}','{{u.primer_nombre}}','{{u.segundo_nombre}}','{{u.primer_apellido}}',
                                                    '{{u.segundo_apellido}}','{{u.sexo}}','{{u.telefono}}','{{ u.nombre_banco }}',{{ u.numero_cuenta }},{{ u.id_sucursal is not null ? u.id_sucursal :'-1'  }},{{ u.id_comercio_afiliado is not null ? u.id_comercio_afiliado:'-1' }})" style="font-size:20px;" title="Editar"  ><i class="fa fa-sliders-h naranja"></i></a>

                                                    <a onclick="delete_item({{u.id_user}},'usuarios')"style="font-size:22px;" title="Eliminar"><i class="fa fa-trash naranja"></i></a>
                                                    {% endif %}

                                                    {% if u.tipo != 0  %}  
                                                        <a onclick="historialUsuario({{ u.id_user }})" style="font-size:20px;" title="Historial" >
                                                            <i class="fa fa-user naranja"></i>
                                                        </a>
                                                    {% endif %}

                                                    {% if u.tipo == 2 %}  
                                                    <a onclick="documentosUsuario('{{ u.documento_identidad }}','{{ u.pasaporte }}','{{ u.rif }}',
                                                                                    '{{ u.referencia_bancaria_1 }}','{{ u.referencia_bancaria_2 }}')" style="font-size:20px;" title="Documentos" >
                                                        <i class="fa fa-folder-open naranja"></i>
                                                    </a>
                                                    {% endif %}

                                                {% endif %}

                                                </td>
                                            </tr>
                                            {% else %}
                                                 <tr><td>No hay resultados</td></tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>Id</th>
                                            <th>Tipo</th>
                                            <th>Nombre</th>
                                            <th>Usuario</th>
                                            <th>Sexo</th>
                                            <th>Teléfono</th>
                                            <th>Correo</th>
                                            <th>Número de cuenta</th>
                                            <th>Acciones</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                            </div>
                        </div>
                </div>
            </div>
    </div>
</div>
{% include 'usuarios/crear' %}
{% include 'usuarios/editar' %}
{% include 'usuarios/historial' %}
{% include 'usuarios/documentos' %}
{% include 'overall/footer' %}
</div>
{% endblock %}

{% block appFooter %}
    <script src="./assets/jscontrollers/usuarios/showMinimenu.js"></script>
    <script src="./assets/jscontrollers/usuarios/crear.js"></script>
    <script src="./assets/jscontrollers/usuarios/editar.js"></script>
    <script src="./assets/jscontrollers/usuarios/historial.js"></script>   
    <script src="./assets/jscontrollers/usuarios/documentos.js"></script>   
    <script src="views/propios/js/delete_item.js"></script>
{% endblock %}
