{% extends 'overall/layout' %}
{% block appBody %}
<div id="page-wrapper" class="gray-bg">
<div class="row border-bottom">
    {% include 'overall/header' %}
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2><i class="fa fa-hand-holding"></i> Comercios Afiliados {{lang.wrapper.comercioafil}}</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="home/">Home</a>
                        </li>
                        <li class="active">
                            <strong>Comercios Afiliados {{lang.wrapper.comercioafil}}</strong>
                        </li>
                    </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
             <div class="col-lg-12">
                <a onclick="crearafiliado()" class="btn btn-warning btn-rounded" style="float:right; margin-bottom:10px;"><i class="fa fa-hand-holding"></i> Crear Comercio {{lang.wrapper.crearcomercio}}</a>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                            <h5>Comercios afiliados registrados en el sistema {{lang.wrapper.titleuno}}</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                    </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover tablita" >
                                        <thead>
                                        <tr>
                                            <th>Id {{lang.wrapper.id}}</th>
                                            <th>Nombre{{lang.wrapper.nombre}}</th>
                                            <th>Sucursal{{lang.wrapper.sucursal}}</th>
                                            <th>Dirección{{lang.wrapper.direccion}}</th>
                                            <th>Teléfonos{{lang.wrapper.telefono}}</th>
                                            <th>Acciones{{lang.wrapper.acciones}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for a in afiliados %}  
                                            <tr>
                                                <td>{{ a.id_comercio_afiliado }}</td>
                                                <td>{{ a.nombre }}</td>
                                                <td>{{ a.sucursal }}</td>
                                                <td>{{ a.direccion }}</td>
                                                <td><a onclick="getTel({{ a.id_comercio_afiliado }})">Teléfonos{{lang.wrapper.telefono}}</a></td>
                                                <td>
                                                {#<a style="font-size:22px;" title="Intercambios" data-toggle="modal" onclick="showIntercambios({{ a.id_comercio_afiliado }})"><i class="fa fa-dollar naranja"></i></a>#}
                                                <a style="margin-left: 20px;font-size:22px;" title="Editar" data-toggle="modal" onclick="editarAfiliado({{ a.id_comercio_afiliado }},{{a.id_user}},'{{ a.nombre }}','{{ a.direccion }}','{{ a.sucursal }}')"><i class="fa fa-sliders naranja"></i></a>
                                                <a style="margin-left: 20px;font-size:22px;" onclick="delete_item({{ a.id_comercio_afiliado }},'afiliados')" title="Eliminar"><i class="fa fa-trash naranja"></i></a>
                                                </td>
                                            </tr>
                                            {% else %}
                                                 <tr><td>No hay resultados{{lang.wrapper.noresultado}}</td></tr>
                                            {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th>Id {{lang.wrapper.id}}</th>
                                            <th>Nombre{{lang.wrapper.nombre}}</th>
                                            <th>Sucursal{{lang.wrapper.sucursal}}</th>
                                            <th>Dirección{{lang.wrapper.direccion}}</th>
                                            <th>Teléfonos{{lang.wrapper.telefono}}</th>
                                            <th>Acciones{{lang.wrapper.acciones}}</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                            </div>
                        </div>
                </div>
            </div>
    </div>
</div>
{% include 'afiliados/crear' %}
{% include 'afiliados/intercambios' %}
{% include 'afiliados/editar' %}
{% include 'afiliados/telefonos' %}
{% include 'overall/footer' %}
</div>
{% endblock %}

{% block appFooter %}
    <script src="assets/jscontrollers/afiliados/afiliados.js"></script>
    <script src="assets/jscontrollers/afiliados/crear.js"></script>
    <script src="assets/jscontrollers/afiliados/editar.js"></script>
    <script src="views/propios/js/delete_item.js"></script>   
{% endblock %}