<div class="modal inmodal" id="intercambioAfiliados" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar {{lang.wrapper.cerrar}}</span></button>
                <h4 class="modal-title">Monedas en este comercio {{lang.wrapper.monedascomercio}}</h4>
                <small class="font-bold">Franklins Gold</small>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Moneda {{lang.wrapper.moneda}}</th>
                                <th>Fecha {{lang.wrapper.fecha}}</th>
                                <th>Monto {{lang.wrapper.monto}}</th>
                            </tr>
                        </thead>
                        <tbody id="body_intercambios">
                           
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Moneda {{lang.wrapper.moneda}}</th>
                                <th>Fecha {{lang.wrapper.fecha}}</th>
                                <th>Monto {{lang.wrapper.monto}}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="table-responsicve">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>TOTAL</th>
                            <td id='total_intercambio'></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar {{lang.wrapper.cerrar}}</button>
            </div>
        </div>
    </div>
</div>
