{% extends 'overall/layout' %}
{% block appBody %}
<div id="page-wrapper" class="gray-bg">
<div class="row border-bottom">
    {% include 'overall/header' %}
</div>

            <div class="wrapper wrapper-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                    <div>
                                        <span class="pull-right text-right">
                                        <small>Cotización en tiempo real del precio del oro en el mercado al contado</small>
                                        </span>
                                        <h3 class="font-bold no-margins">
                                            Precio del oro (En dólares)
                                        </h3>
                                    </div>

                                <div>
                                    <canvas id="lineChart" height="40" width="100%"></canvas>
                                </div>

                                <div class="m-t-md">
                                    <small class="pull-right">
                                        <i class="fa fa-clock-o"> </i>
                                        <i id="fecha_oro"> </i>
                                    </small>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                    <div>
                                        <span class="pull-right text-right">
                                        <small>Cotización en tiempo real del precio de la plata en el mercado al contado</small>
                                        </span>
                                        <h3 class="font-bold no-margins">
                                            Precio de la plata (USD)
                                        </h3>
                                    </div>

                                <div>
                                    <canvas id="plataChart" height="40" width="100%"></canvas>
                                </div>

                                <div class="m-t-md">
                                    <small class="pull-right">  
                                        <i class="fa fa-clock-o"> </i>                                     
                                        <i id="fecha_plata"></i>
                                    </small>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-primary pull-right">Hoy</span>
                                <h5>Ventas Diarias</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{ data.diarias.total }}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-info pull-right">Mensual</span>
                                <h5>Ventas Mensuales</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{ data.mensuales.total }}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-warning pull-right">Anual</span>
                                <h5>Ventas del año</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{ data.anuales.total }}</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Usuarios registrados en el sistema</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{ data.usuarios.total }}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Dólares de monedas vendidas en oro</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">${{ data.ventas_oro.total|number_format(2,'.',',') }}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Dólares de monedas vendidas en plata</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">${{ data.ventas_plata.total|number_format(2,'.',',') }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% include 'overall/footer' %}
</div>
{% endblock %}

{% block appFooter %}
    <script src="./assets/jscontrollers/home/dashboard.js"></script>
{% endblock %}
