<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
           <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="javascript:void(0)"><i class="fa fa-bars"></i></a>
        </div>
        <ul class="nav navbar-top-links navbar-right" style="margin-top:5px;">
         
            {%  if owner_user != null and (owner_user.tipo == 0 or  owner_user.tipo == 2) %} 
            <li class="dropdown menucito">
                <button type="button" class="btn btn-primary btn-responsiv" data-toggle="modal" data-target="#notificaciones">
                  <i class="fa fa-bell"></i> Notificaciones del sistema <strong>( {{ notifications == null ? 0 : notifications[0].sin_leer  }} )</strong>
                </button>
                {% include 'overall/notificaciones' %}
            </li>
            {% endif %}

            {% if owner_user != null  %}   
            <li class="">
                <button class="btn btn-primary btn-bienvenido" style="font-weight:bold; color:white;">¡Bienvenido, {{ owner_user.primer_nombre }}!</button>
            </li>   
            <li>
                <button role="link" onclick="window.location='logout/'" class="btn btn-primary btn-logout" style="font-weight:bold; color:white;">
                    <i class="fas fa-sign-out-alt"></i> Cerrar Sesi&oacute;n
                </button>
                 
            </li>
            {% endif %}
        </ul>
</nav>
{%  if owner_user != null and (owner_user.tipo == 0 or  owner_user.tipo == 2) %}
<div class="container">
    <div class="row margintop-60 fonditola">
                <div class="col-sm-6">
                    <div class="row">
                        <h4 style="padding-left:15px" class="colororo font-18">Precio del ORO</h4>
                        <div class="col-sm-6 font-18">
                            <span style="font-weight:bold;">VENTA:</span> ${{precio_oro_global.precio_dolares_venta}}
                            
                           
                        </div>
                        <div class="col-sm-6 font-18">
                            <span style="font-weight:bold;">COMPRA:</span> ${{precio_oro_global.precio_dolares}}
                            
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <h4 style="padding-left:15px" class="colorplata font-18">Precio de la PLATA</h4>
                        <div class="col-sm-6 font-18">
                            <span style="font-weight:bold;">VENTA:</span> ${{precio_plata_global.precio_dolares_venta}}
                            
                            
                        </div>
                        <div class="col-sm-6 font-18">
                            <span style="font-weight:bold;">COMPRA:</span> ${{precio_plata_global.precio_dolares}}
                            
                            
                        </div>
                    </div>
                </div>              
    </div>
</div>
{% endif %}
{%  if owner_user != null and (owner_user.tipo == 2) %}
<div class="container">
    <div class="row margintop-60 fonditola">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 font-18">
                            <a type="button" href="ordencliente/ventaoro/" class="btn btn-primary btn-responsive">Vender Oro</a>
                        </div>
                        <div class="col-sm-6 font-18">
                            <a type="button" href="ordencliente/compraoro/" class="btn btn-primary btn-responsive">Comprar Oro</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6 font-18">
                            <a type="button" href="ordencliente/ventaplata/" class="btn btn-primary btn-responsive">Vender plata</a>
                        </div>
                        <div class="col-sm-6 font-18">
                            <a type="button" href="ordencliente/compraplata/" class="btn btn-primary btn-responsive">Comprar plata</a>
                        </div>
                    </div>
                </div>              
    </div>
</div>
{% endif %}
<br>