<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
           <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="javascript:void(0)"><i class="fa fa-bars"></i></a>
        </div>
        <ul class="nav navbar-top-links navbar-right" style="margin-top:5px;">
            <li>
                <span class=""><a href="{{ lang_url }}es" title="Idioma: Español" class="betiviris">ES</a>/<a href="{{ lang_url }}en" title="Idioma: Ingles" class="betiviris">EN</a></span>
            </li>  
            {% if owner_user != null  %}          
            <li>
                
                <a href="logout/">
                    <i class="fa fa-sign-out"></i> Cerrar Sesi&oacute;n
                </a>
                 
            </li>
            {% endif %}
        </ul>
</nav>
<div class="container">
    <div class="row margintop-60">
                <div class="col-sm-6">
                    <div class="row">
                        <h4 style="padding-left:15px" class="colororo">Precio del ORO</h4>
                        <div class="col-sm-4 sizepequeño"><span style="font-weight:bold;">Venta:</span> ${{precio_oro_global.precio_dolares_venta}}</div>
                        <div class="col-sm-4 sizepequeño"><span style="font-weight:bold;">Compra:</span> ${{precio_oro_global.precio_dolares}}</div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <h4 style="padding-left:15px" class="colorplata">Precio de la PLATA</h4>
                        <div class="col-sm-4 sizepequeño"><span style="font-weight:bold;">Venta:</span> ${{precio_plata_global.precio_dolares_venta}}</div>
                        <div class="col-sm-4 sizepequeño"><span style="font-weight:bold;">Compra:</span> ${{precio_plata_global.precio_dolares}}</div>
                    </div>
                </div>              
    </div>
</div>
<br>