<div class="modal inmodal" id="notificaciones" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title"><i class="fa fa-bell"></i> Notificaciones del sistema</h4>
                <small class="font-bold">Franklin Gold</small>
            </div>
            <div class="modal-body">
                <p align="center">Haga click sobre el icono de <strong>"Marcar como leída"</strong> para indicarle al sistema que su notificación fue leída con éxito.</p>
                    <table class="table">
                            <thead>
                            <tr>
                                <th width="80%">Mensaje</th>
                                <th>Marcar como leída</th>
                            </tr>
                            </thead>
                            <tbody>
                                
                            {% for n in notifications %}
                            <tr>
                                
                                <td id="mensaje_{{n.id_notificacion}}" bgcolor="{{n.estado == 0 ? "#E4F3F2" : "#f8fafb"}}"style="text-align:justify;">{{n.mensaje}} </td>
                                {% if n.estado == 0 %} 
                                    <td class="centrar">
                                        <a title="Mensaje no leído" id="boton_{{n.id_notificacion}}" onclick="mark_as_read({{ n.id_notificacion }})">
                                            <i class="fa fa-check-square gris font-20" style="color:#5ebac4;" class="btn-noleido"></i>
                                        </a>
                                    </td>
                                {% else %}
                                <td class="centrar"><i class="fa fa-check-square gris font-20" style=" color:#e7e7e7;"></i></td>
                                {% endif %}
                                
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script src="assets/jscontrollers/usuarios/notificaciones.js"></script>